<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShelfSpace</title>

    <!-- Getting Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <h1 href="#" style="cursor: pointer;">ShelfSpace</h1>
        <nav>
            <a href="#">Wishlists</a>
            <a href="#">My Shelf</a>
            <a href="#">Social</a>
        </nav>
        <nav>
            <a href="#" id="register-button-header">LOG IN / SIGN UP</a>
        </nav>
    </header>
    <main>
        <section id="landing-two-column">
            <p>Let's dust off that old book you are always meaning to read...</p>
            <img
                src="../public/bookshelf-stock.jpg"
                alt="bookshelf-stock.jpg"
            >
        </section>

        <div id="scroll-indicator">⌄</div>

        <section id="landing-app-description">
            <h2>
                ShelfSpace keeps track of those movies you've always been dying to see, as well as those favorites you can never get sick of.
                <br><br>Not a movie person? ShelfSpace is for music, videogames, books and more.
            </h2>
            <div id="images-row">
                <img src="/public/reading-book-stock.jpg" alt="Reading a book">
                <img src="/public/watching-netflix-stock.jpg" alt="Watching Netflix">
                <img src="/public/playing-videogames-stock.jpg" alt="Playing videogames">
            </div>
            <h2 style="padding: 60px 240px">Sign up today for free to begin tracking and finally get to that album you've been meaning to listen to.
            </h2>
            <div style="text-align: center; margin-bottom: 96px;">
                <a href="#" id="register-button">SIGN UP TODAY</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 ShelfSpace. All rights reserved.</p>
    </footer>
</body>
</html>