<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShelfSpace | Login</title>

    <!-- Getting Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/login.css">

</head>
<body>

    <main>
        <div class="login-container">
            <div class="login-card">
                <div class="brand">ShelfSpace</div>
                <h3>Create your account</h3>

                <form>
                    <div>
                        <input type="text" id="username" name="username" placeholder="Username" required autofocus>
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn-login">Log in</button>
                </form>

                <div class="footer-text">
                    <p>Don't have an account? Sign up</p>
                    <p style="margin-top: 0.5rem;"><a href="/">← Back to Home</a></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 ShelfSpace. All rights reserved.</p>
    </footer>
</body>
</html>